.loadMoreBtn {
  margin: 0 auto 16px auto;
  padding: 12px;
  display: block;
  width: 188px;
  background-color: rgb(84, 84, 243);
  color: #dbedf7;
  outline: none;
  border: transparent;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}
.loadMoreBtn:hover {
  background-color: rgb(37, 37, 245);
  color: #fff;
}
